<div class="container">
  <div class="card">
    <ng-container *ngIf="showLogin; else registerFormTpl">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter email" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter password" required />
        </mat-form-field>

        <div class="button-group">
          <button mat-flat-button color="primary" type="submit">Login</button>
          <button mat-flat-button color="warn" type="button" (click)="resetLogin()">Cancel</button>
        </div>
        <a class="link" (click)="openForgotPasswordDialog()" style="cursor: pointer;">Forgot password?</a>
        <p *ngIf="HideRegister" class="toggle-link">Don’t have an account?
          <a (click)="toggleForm()">Register</a>
        </p>
      </form>
    </ng-container>

    <ng-template #registerFormTpl>
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" enctype="multipart/form-data">
        <div class="preview-container" *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Preview" class="preview-image" />
        </div>
        <!-- Upload Section -->
        <div class="photo-upload">
          <label class="upload-label" for="photo">
            <mat-icon>cloud_upload</mat-icon> Upload Patient Photo
          </label>
          <input type="file" id="photo" (change)="onFileSelected($event)" />
        </div>

        <!-- Preview -->





        <div class="form-grid">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="FirstName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="LastName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age" type="number" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobile" type="tel" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required [disabled]="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required />
          </mat-form-field>
        </div>

        <div class="button-group">
          <button mat-flat-button color="primary" type="submit">Register</button>
          <button mat-flat-button color="warn" type="button" (click)="toggleForm()">Cancel</button>
        </div>

        <p class="toggle-link">Already have an account?
          <a (click)="toggleForm()">Login</a>
        </p>
      </form>
    </ng-template>
  </div>
</div>