<!-- login.component.html -->
<div class="auth-container">
  <div class="auth-image" aria-hidden="true">
    <div class="setdesign">
    <!--<img src="assets/medical-login/rx-logo.svg" alt="rx_logo" />-->
    <img src="assets/logo/logo1.svg" alt="Medical Illustration" />
    </div>
  </div>

  <div class="auth-panel">
    <div class="card">
      <header class="card-header">
        <!-- <img src="assets/logo/rx-logo.svg" alt="Logo" class="logo" /> -->
        <!-- <button class="register-btn" mat-button (click)="toggleLoginForm()">
          {{ showLogin ? 'Register' : 'Login' }}
        </button> -->
      </header>

      <div *ngIf="showLogin; else signupTemplate">
        <h2 style="    justify-content: space-around;
    display: flex
;">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="current-password" />
          </mat-form-field>

          <div class="options">
            <mat-checkbox >Remember me</mat-checkbox>
            <a class="forgot" (click)="openForgotPasswordDialog()" style="cursor: pointer;">Forgot Password?</a>
          </div>

          <button mat-flat-button color="primary" class="submit-btn" type="submit">Login</button>
        </form>
<p class="switch">
  Don't have an account?
  <a mat-button [matMenuTriggerFor]="signupMenu">Sign up</a>
</p>

<mat-menu #signupMenu="matMenu">
  <button mat-menu-item (click)="toggleLogin('patient')">Patient</button>
  <button mat-menu-item (click)="toggleLogin('pharmacist')">Pharmacist</button>
</mat-menu>

      </div>

      <ng-template #signupTemplate>
        <h2>Sign up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="Name" autocomplete="name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" autocomplete="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="Password" autocomplete="new-password" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="ConfirmPassword" autocomplete="new-password" />
          </mat-form-field>

          <button mat-flat-button color="primary" class="submit-btn" type="submit">Register</button>
        </form>
        <p class="switch">Already have an account? <a (click)="toggleLoginForm()">Login</a></p>
      </ng-template>
    </div>
  </div>
</div>
