<div class="sidebar">
  <div class="menu-section" *ngFor="let section of menuSections()">
    <div class="menu-header" (click)="toggleMenu(section)">
      <span class="icon">{{ section.icon }}</span>
      <span class="title">{{ section.title }}</span>
      <span class="toggle-arrow">{{ section.isOpen ? '▲' : '▼' }}</span>
    </div>

    <div class="submenu" *ngIf="section.isOpen">
      <div
        class="submenu-item"
        *ngFor="let item of section.subItems"
        (click)="navigateTo(item.path)">
        {{ item.icon }} {{ item.title }}
      </div>
    </div>
  </div>
</div>
